@textcolor: #000;
@linkcolor: #444;
@externallink: #336;
@bordermarginy: 24px;
@footercolor: #ccc;

*, *:before, *:after {box-sizing: border-box}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}

body {
	color: @textcolor;
	background-color: hsl(0, 0%, 100%);
	font-family: "Open Sans",'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo UI, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	line-height: 1.5;
	margin: @bordermarginy 0;
}

button {
	font-family: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
	color: @linkcolor;
	&.external {
		color: @externallink;
	}
	font-size: 1em;
}

a {
	color: @linkcolor;
	text-decoration: none;
	&.external {
		color: @externallink;
	}
}

ul {
	padding-left: 0;
	list-style: none;
	&.left {
		display: inline-flex;
		flex-direction: column;
		text-align: left;
		list-style: disc;
		position: relative;
		left: 5px;
	}
	&.usedisc li > *:first-child:before {
		display: inline-block;
		content: '';
		position: relative;
		right: 10px;
		bottom: 2px;
		width: 6px;
		height: 6px;
		background-color: #333;
		border-radius: 100%;
	}
}

div ul {
	margin-top: 2px;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h2, h3, h4 {
	font-weight: lighter;
	margin: 6px 0;
}

h4 {
	margin: 3px 0;
}

li h4 {
	margin-top: 16px;
	margin-bottom: 0;
}

div ~ h3 {
	margin-top: 32px;
}

header {
	a {
		font-size: 24px;
	}
	p {
		margin: 0 0 10px 0;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
}

code {
	font-family: Osaka-mono, Consolas, monospace;
	font-size: 0.8em;
	&.block {
		text-align: left;
		white-space: pre;
	}
	&.box {
		@paddingx: 3px;
		@paddingy: 3px;
		border-left:1px solid #000;
		border-right:1px solid #ccc;
		margin: 10px 0;
		text-align: left;
		white-space: pre;
		padding: @paddingy @paddingx;
		display: inline-block;
		max-width: 99%;
		&:before, &:after {
			content:"";
			display:block;
			height:1px;
			width:~"calc(100% + " @paddingx * 2 ~")";
			background:linear-gradient(to right, #000, #ccc);
			position: relative;
			right: @paddingx;
		}
		&:before {
			bottom: @paddingy;
		}
		&:after {
			top: @paddingy;
		}
		&.js {
			tab-size: 2;
		}
	}
}

.link(@paddingx, @paddingy, @shrinkx, @shrinky) {
	background-color: rgba(0, 0, 0, 0.2);
	padding: @paddingy @paddingx;
	margin: 0;
	transition: all 0.3s;
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
		padding: @paddingy - @shrinky @paddingx - @shrinkx;
		margin: @shrinky @shrinkx;
	}
}
.link {.link(20px, 13px, 5px, 3px)}
.smalllink {.link(15px, 9px, 3px, 2px)}

.item {
	text-align: right;
	border: solid 1px gray;
	margin: 20px 5%;
	padding: 5px;
	& > *:first-child {
		float: right;
		margin-left: 8px;
		max-width: 30vw;
		height: inherit;
		img {
			width: 30vw;
		}
	}
}

.rightside {
	margin-left: auto;
}

#link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 320px;
	margin-bottom: 5px;
	* {
		@shrinkx: 4px;
		.link(15px, 10px, @shrinkx, 2px);
		font-size: 12px;
		&:first-child {
			margin-left: 0;
			&:hover {
				margin-left: @shrinkx;
			}
		}
		&:last-child {
			margin-right: 0;
			&:hover {
				margin-right: @shrinkx;
			}
		}
	}
}

.playbutton {
	float: right;
	position: relative;
	width: 100px;
	a {
		@paddingy: 3px;
		position: relative;
		bottom: @paddingy;
		background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3));
		transition: all 0.5s;
		padding: @paddingy 10px @paddingy 25px;
		&:hover {
			padding: @paddingy 25px @paddingy 35px;
			&::after {
				border-left-width: 16px;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 6px;
			right: -4px;
			width: 0;
			height: 0;
			transition: all 0.5s;
			border: solid 8px transparent;
			border-left: solid 0 #666;
		}
	}
}

.dlbutton {
	position: relative;
	width: 124px;
	a {
		background-color: rgba(0, 0, 0, 0.3);
		transition: all 0.3s;
		padding: 3px 18px;
		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
			padding: 4px 28px 4px 12px;
			&::before {
				right: 14px;
				width: 8px;
			}
			&::after {
				right: 10px;
				border: solid 8px transparent;
				border-top: solid 0 #666;
				border-top-width: 10px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 4px;
			right: 22px;
			width: 0;
			height: 6px;
			transition: all 0.3s;
			background-color: #666;
		}
		&::after {
			content: "";
			position: absolute;
			top: 12px;
			right: 22px;
			width: 0;
			height: 0;
			transition: all 0.3s;
			border: solid 0px transparent;
			border-top: solid 0 #666;
			border-top-width: 10px;
		}
	}
}

.min {
	color: #666;
	font-size: 0.8em;
}

.hidden {
	color: #ccc;
	font-size: 0.7em;
}

.compact {
	margin: 0;
}

.li::before {
	content: "";
}

footer {
	background-color: @footercolor;
	margin: 19px 0;
	padding: 5px 5%;
	overflow: hidden;
	h2 {
		margin: 0;
	}
}
@media screen and (max-width: 450px) {
	p {
		margin-bottom: 5px;
	}
	#link {
		width: 240px;
	}
	code.box {
		overflow-x: scroll;
		overflow-y: hidden;
	}
}
@media screen and (min-width: 450px) {
	body > div {
		max-width: 90%;
		img, video {
			max-width: 60vh;
		}
	}
}
@media screen and (min-width: 1000px) {
	.item {
		width: 900px;
		margin: 20px auto;
	}
	footer {
		padding: 5px ~"calc(50% - 450px)";
	}
	.item img {
		width: 300px;
		height: auto;
	}
}
