@textcolor: #000;
@linkcolor: #444;
@externallink: #336;
@bordermarginy: 24px;
@footercolor: #ccc;

*, *:before, *:after {box-sizing: border-box}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}

body {
	color: @textcolor;
  background-color: hsl(0, 0%, 100%);
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin: @bordermarginy 0;
}

a {
	color: @linkcolor;
	text-decoration: none;
	&.external {
		color: @externallink;
	}
}

ul {
	padding-left: 0;
	list-style: none;
	&.left {
		display: inline-flex;
		flex-direction: column;
		text-align: left;
		list-style: disc;
		position: relative;
		left: 5px;
	}
	li {
		& *:first-child:before {
			display: inline-block;
			content: '';
			position: relative;
			right: 10px;
			bottom: 2px;
			width: 6px;
			height: 6px;
			background-color: #333;
			border-radius: 100%;
		}
	}
}

div ul {
	margin-top: 2px;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h2, h3, h4 {
	font-weight: lighter;
	margin: 6px 0;
}

h4 {
	margin: 3px 0;
}

li h4 {
	margin-top: 16px;
	margin-bottom: 0;
}

div ~ h3 {
	margin-top: 32px;
}

header {
	a {
		font-size: 24px;
	}
	p {
		margin: 0 0 10px 0;
	}
	margin: 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

code {
	font-family: Consolas, monospace;
	font-size: 0.8em;
	&.block {
		text-align: left;
		white-space: pre;
	}
	&.box {
		@paddingx: 3px;
		@paddingy: 3px;
		border-left:1px solid #000;
		border-right:1px solid #ccc;
		margin: 10px 0;
		text-align: left;
		white-space: pre;
		padding: @paddingy @paddingx;
		display: inline-block;
		&:before, &:after {
			content:"";
			display:block;
			height:1px;
			width:~"calc(100% + " @paddingx * 2 ~")";
			background:linear-gradient(to right, #000, #ccc);
			position: relative;
			right: @paddingx;
		}
		&:before {
			bottom: @paddingy
		}
		&:after {
			top: @paddingy;
		}
		&[lang="js"] {
			tab-size: 2;
		}
	}
}

.link(@paddingx, @paddingy, @shrinkx, @shrinky) {
	background-color: rgba(0, 0, 0, 0.2);
	padding: @paddingy @paddingx;
	margin: 0;
	transition: all 0.3s;
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
		padding: @paddingy - @shrinky @paddingx - @shrinkx;
		margin: @shrinky @shrinkx;
	}
}
.link {.link(20px, 13px, 5px, 3px)}

.item {
	text-align: right;
	border: solid 1px gray;
	margin: 20px 5%;
	img {
		float: right;
		margin: 8px;
		width: 30vw;
		height: 45vw;
	}
}

#link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 320px;
	margin-bottom: 5px;
	* {
		@shrinkx: 4px;
		.link(15px, 10px, @shrinkx, 2px);
		font-size: 12px;
		&:first-child {
			margin-left: 0;
			&:hover {
				margin-left: @shrinkx;
			}
		}
		&:last-child {
			margin-right: 0;
			&:hover {
				margin-right: @shrinkx;
			}
		}
	}
}

.playbutton {
	float: right;
	position: relative;
	width: 100px;
	a {
		@paddingy: 3px;
		position: relative;
		bottom: @paddingy;
		background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3));
		transition: all 0.5s;
		padding: @paddingy 10px @paddingy 25px;
		&:hover {
			padding: @paddingy 25px @paddingy 35px;
			&::after {
				border-left-width: 16px;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 6px;
			right: -4px;
			width: 0;
			height: 0;
			transition: all 0.5s;
			border: solid 8px transparent;
			border-left: solid 0 #666;
		}
	}
}

.min {
	color: #666;
	font-size: 0.8em;
}

.compact {
	margin: 0;
}

.li::before {
	content: "";
}

footer {
	background-color: @footercolor;
	margin: 19px 0;
	padding: 5px 5%;
	overflow: hidden;
	h2 {
		margin: 0;
	}
}
@media screen and (max-width: 450px) {
	p {
		margin-bottom: 5px;
	}
	#link {
		width: 240px;
	}
}
@media screen and (min-width: 450px) {
	body > div {
		max-width: 90%;
	}
}
@media screen and (min-width: 1000px) {
	.item {
		width: 900px;
		margin: 0 auto;
	}
	footer {
		padding: 5px ~"calc(50% - 450px)";
	}
	.item img {
		width: 300px;
		height: 450px;
	}
}
