body {
	width: 80%;
	margin: 40px auto;
}

article {
	margin: 25px 0;
}

#loading {
	font-size: 64px;
	width: 80%;
	color: gray;
	text-align: center;
}

#searchbar {
	display: block;
	width: 100%;
	max-width: 800px;
	height: 40px;
	border-radius: 5px;
	font-size: 28px;
	font-family: Calibri, 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 1px 5px;
	margin-top: 40px;
}

#list {
	margin: 40px auto;
}

#list * {
	margin-right: 10px;
}

#list li {
	max-width: 800px;
	border-color: gray;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	padding: 1px 5px;
	margin-top: 15px;
	cursor: pointer;
}

#list li > a {
	display: block;
}

#list img {
	vertical-align: middle;
}

#icon {
	display: block;
	margin-right: 20px;
	float: left;
}

#cards {
	margin: 20px 0;
}

#cards * {
	cursor: pointer;
}

#submit {
	display: inline-block;
	margin-top: 10px;
}

#submit:hover {
	margin-top: 12px;
}

a.label {
	color: black;
}

.remove {
	color: transparent;
	font-size: 0.6em;
}

#reviews li:hover .remove {
	color: #ccc;
	margin-left: 10px;
	cursor: pointer;
}

#errortext {
	margin-left: 10px;
	color: #d33;
}
